<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mp3 Downloader</title>
        <link rel = "stylesheet" href = "styles.css">
      
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <script>
                var messages = {{ messages | safe }};
                for (var i=0; i<messages.length; i++) {
                    alert(messages[i]);
                }
                </script>
            {% endif %}
        {% endwith %}
        <div class ="main-content">
            <header>
                <h1>Mp3 Downloader</h1>
            
            </header>
            <p>Use this site to get weather!</p>

            <form action="/download" method="post">
                <input placeholder="Song Name" id = "songName" name = "songName">

                <button>Download</button>
            </form>

        </div>
    </body>

</html>